[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tqdm = "*"
pandas = "*"
sklearn = "*"
jupyter = "*"
"pdfminer.six" = "*"
nltk = "*"
xlrd = "*"

[requires]
python_version = "3.8"
